body {
    margin: 0px;
    background-color: white;
    font-family: Helvetica Neue, Helvetica;
    color: black; 
}
    body a {
        color: orange;
        text-decoration: none; 
    }
    body a:hover {
        color: orangered; 
    }
    body .header {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 10px;
    }
    body .header h2{
        font-weight: normal;
        padding: 25px 0 0;
        margin: 0px;
        font-size: 50px; 
        color: orange;

    }
    body .content {
        margin: 0 0 0 auto;
        padding-left: 50px; 
        padding-right: 50px;
    }
    body .content h2 {
        font-weight: normal;
        padding: 25px 0 0;
        margin: 0px;
        font-size: 60px; 
        color: orange;
    }
    body .content p {
        font-size: 17px;
        margin: 10px 10px 5px 0px;
        padding: 5px; 
    }
    body .content img {
        width: 300px;
        height: 300px;
        float: right;
        margin-right: 10px;
    }
    body .content hr{
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 1px;
    }
    .footer{
        background-color: #292c2f;
        box-shadow: 0 50vh 0 50vh #000;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        text-align: left;
        color: white;
        font: normal 16px sans-serif;
        padding: 45px 50px;
        margin-top: 80px;
    }
    .footer .footer-right{
        float: right; 
        margin-top: 6px;
        max-width: 180px;
    }
    .footer .footer-right a{
        display: inline-block;
        width: 35px;
        height: 35px;
        background-color:  #33383b;
        border-radius: 2px;
    
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
    
        margin-left: 3px;
    }